.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.hero-desktop {
  gap: 24px;
}

.hero-mobile {
  gap: 12px;
}

.hero-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.hero-desktop .hero-image {
  height: 732px;
}
.hero-mobile .hero-image {
  height: 530px;
}