:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1D1D1D;
  background-color: var(--main-bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-color: #FFFFFF;
  --main-text-color: #1D1D1D;
  --secondary-bg-color: #EAEAE8;

  --primary-gray: #EAEAE8;

  --label-bestSeller: #D9D6B0;
  --label-limited-edition: #D4B0D9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  height: 100%;
  width: 95vw;
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.app-initialization {
  height: 100vh;
  gap: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 5.5rem;
  line-height: 5.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.625rem;
  line-height: 2.625rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
}

h6 {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

/* TODO: change to app-mobile class*/
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1rem;
  }

  h5 {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }

  h6 {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/* buttons */

.btn {
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
}

.btn--primary {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO: add prefer color scheme */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
