.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.product-element {
  position: relative;
  border-radius: 6px;
}
/* Responsiveness */

.products-mobile .products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.products-tablet .products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.products-desktop .products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:24px;
}

/* Containers */

.products__select-container {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

/* Product-item */

.product-item {
  background-color: var(--primary-gray);
}

.product-item__id {
  position: absolute;
  top: 32px;
  left: 32px;
}

.product-item__img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item__img-container img {
  object-fit: cover;
  width: 100%;
}

/* Product-hero */

.product-hero {
  position: relative;
}

.product-hero__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.product-hero__content__up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 80%;
  text-align: center;
}

.hero-product__image-container {
  width: 100%;
  height: 100%;
}

.hero-product__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* overlay */

.product-overlay {
  border-radius: 6px;
}

.product-overlay__top-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.product-overlay__top-container__close-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-overlay__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-overlay__content img{
  max-width: 400px;
  width: 100%;
}
